=begin
#Talon.One API

#The Talon.One API is used to manage applications and campaigns, as well as to integrate with your application. The operations in the _Integration API_ section are used to integrate with our platform, while the other operations are used to manage applications and campaigns.  ### Where is the API?  The API is available at the same hostname as these docs. For example, if you are reading this page at `https://mycompany.talon.one/docs/api/`, the URL for the [updateCustomerProfile][] operation is `https://mycompany.talon.one/v1/customer_profiles/id`  [updateCustomerProfile]: #operation--v1-customer_profiles--integrationId--put 

OpenAPI spec version: 1.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module TalonOne
  class ManagementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add points in a certain loyalty program for the specified customer
    # 
    # @param program_id 
    # @param integration_id 
    # @param [Hash] opts the optional parameters
    # @option opts [LoyaltyPoints] :body 
    # @return [nil]
    def add_loyalty_points(program_id, integration_id, opts = {})
      add_loyalty_points_with_http_info(program_id, integration_id, opts)
      nil
    end

    # Add points in a certain loyalty program for the specified customer
    # 
    # @param program_id 
    # @param integration_id 
    # @param [Hash] opts the optional parameters
    # @option opts [LoyaltyPoints] :body 
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def add_loyalty_points_with_http_info(program_id, integration_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.add_loyalty_points ...'
      end
      # verify the required parameter 'program_id' is set
      if @api_client.config.client_side_validation && program_id.nil?
        fail ArgumentError, "Missing the required parameter 'program_id' when calling ManagementApi.add_loyalty_points"
      end
      # verify the required parameter 'integration_id' is set
      if @api_client.config.client_side_validation && integration_id.nil?
        fail ArgumentError, "Missing the required parameter 'integration_id' when calling ManagementApi.add_loyalty_points"
      end
      # resource path
      local_var_path = '/v1/loyalty_programs/{programID}/profile/{integrationID}/add_points'.sub('{' + 'programID' + '}', program_id.to_s).sub('{' + 'integrationID' + '}', integration_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#add_loyalty_points\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Copy the campaign into every specified application
    # Copy the campaign into every specified application.
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @option opts [CampaignCopy] :body 
    # @return [InlineResponse2003]
    def copy_campaign_to_applications(application_id, campaign_id, opts = {})
      data, _status_code, _headers = copy_campaign_to_applications_with_http_info(application_id, campaign_id, opts)
      data
    end

    # Copy the campaign into every specified application
    # Copy the campaign into every specified application.
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @option opts [CampaignCopy] :body 
    # @return [Array<(InlineResponse2003, Fixnum, Hash)>] InlineResponse2003 data, response status code and response headers
    def copy_campaign_to_applications_with_http_info(application_id, campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.copy_campaign_to_applications ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.copy_campaign_to_applications"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling ManagementApi.copy_campaign_to_applications"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/campaigns/{campaignId}/copy'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2003')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#copy_campaign_to_applications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Campaign
    # 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [NewCampaign] :body 
    # @return [Campaign]
    def create_campaign(application_id, opts = {})
      data, _status_code, _headers = create_campaign_with_http_info(application_id, opts)
      data
    end

    # Create a Campaign
    # 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [NewCampaign] :body 
    # @return [Array<(Campaign, Fixnum, Hash)>] Campaign data, response status code and response headers
    def create_campaign_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.create_campaign ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.create_campaign"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/campaigns'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Campaign')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#create_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Coupons
    # Create coupons according to some pattern. Up to 20.000 coupons can be created without a unique prefix. When a unique prefix is provided, up to 200.000 coupns can be created.
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :silent If set to &#39;yes&#39;, response will be an empty 204, otherwise a list of the coupons generated (to to 1000).
    # @option opts [NewCoupons] :body 
    # @return [InlineResponse2001]
    def create_coupons(application_id, campaign_id, opts = {})
      data, _status_code, _headers = create_coupons_with_http_info(application_id, campaign_id, opts)
      data
    end

    # Create Coupons
    # Create coupons according to some pattern. Up to 20.000 coupons can be created without a unique prefix. When a unique prefix is provided, up to 200.000 coupns can be created.
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :silent If set to &#39;yes&#39;, response will be an empty 204, otherwise a list of the coupons generated (to to 1000).
    # @option opts [NewCoupons] :body 
    # @return [Array<(InlineResponse2001, Fixnum, Hash)>] InlineResponse2001 data, response status code and response headers
    def create_coupons_with_http_info(application_id, campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.create_coupons ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.create_coupons"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling ManagementApi.create_coupons"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/campaigns/{campaignId}/coupons'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'silent'] = opts[:'silent'] if !opts[:'silent'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2001')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#create_coupons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Request a password reset
    # Sends an email with a password recovery link to the email of an existing account. 
    # @param [Hash] opts the optional parameters
    # @option opts [NewPasswordEmail] :body 
    # @return [NewPasswordEmail]
    def create_password_recovery_email(opts = {})
      data, _status_code, _headers = create_password_recovery_email_with_http_info(opts)
      data
    end

    # Request a password reset
    # Sends an email with a password recovery link to the email of an existing account. 
    # @param [Hash] opts the optional parameters
    # @option opts [NewPasswordEmail] :body 
    # @return [Array<(NewPasswordEmail, Fixnum, Hash)>] NewPasswordEmail data, response status code and response headers
    def create_password_recovery_email_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.create_password_recovery_email ...'
      end
      # resource path
      local_var_path = '/v1/password_recovery_emails'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'NewPasswordEmail')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#create_password_recovery_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Ruleset
    # 
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @option opts [NewRuleset] :body 
    # @return [Ruleset]
    def create_ruleset(application_id, campaign_id, opts = {})
      data, _status_code, _headers = create_ruleset_with_http_info(application_id, campaign_id, opts)
      data
    end

    # Create a Ruleset
    # 
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @option opts [NewRuleset] :body 
    # @return [Array<(Ruleset, Fixnum, Hash)>] Ruleset data, response status code and response headers
    def create_ruleset_with_http_info(application_id, campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.create_ruleset ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.create_ruleset"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling ManagementApi.create_ruleset"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/campaigns/{campaignId}/rulesets'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Ruleset')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#create_ruleset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a Session
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [LoginParams] :body 
    # @return [Session]
    def create_session(opts = {})
      data, _status_code, _headers = create_session_with_http_info(opts)
      data
    end

    # Create a Session
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [LoginParams] :body 
    # @return [Array<(Session, Fixnum, Hash)>] Session data, response status code and response headers
    def create_session_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.create_session ...'
      end
      # resource path
      local_var_path = '/v1/sessions'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Session')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#create_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Campaign
    # 
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_campaign(application_id, campaign_id, opts = {})
      delete_campaign_with_http_info(application_id, campaign_id, opts)
      nil
    end

    # Delete a Campaign
    # 
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_campaign_with_http_info(application_id, campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.delete_campaign ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.delete_campaign"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling ManagementApi.delete_campaign"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/campaigns/{campaignId}'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#delete_campaign\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete one Coupon
    # 
    # @param application_id 
    # @param campaign_id 
    # @param coupon_id The ID of the coupon code to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_coupon(application_id, campaign_id, coupon_id, opts = {})
      delete_coupon_with_http_info(application_id, campaign_id, coupon_id, opts)
      nil
    end

    # Delete one Coupon
    # 
    # @param application_id 
    # @param campaign_id 
    # @param coupon_id The ID of the coupon code to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_coupon_with_http_info(application_id, campaign_id, coupon_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.delete_coupon ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.delete_coupon"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling ManagementApi.delete_coupon"
      end
      # verify the required parameter 'coupon_id' is set
      if @api_client.config.client_side_validation && coupon_id.nil?
        fail ArgumentError, "Missing the required parameter 'coupon_id' when calling ManagementApi.delete_coupon"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/campaigns/{campaignId}/coupons/{couponId}'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'campaignId' + '}', campaign_id.to_s).sub('{' + 'couponId' + '}', coupon_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#delete_coupon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Coupons
    # 
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :value Filter results performing case-insensitive matching against the coupon code. Both the code and the query are folded to remove all non-alpha-numeric characters.
    # @option opts [DateTime] :created_before Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :created_after Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :starts_after Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :starts_before Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :expires_after Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :expires_before Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [String] :valid Either \&quot;expired\&quot;, \&quot;validNow\&quot;, or \&quot;validFuture\&quot;. The first option matches coupons in which the expiry date is set and in the past. The second matches coupons in which start date is null or in the past and expiry date is null or in the future, the third matches coupons in which start date is set and in the future. 
    # @option opts [String] :batch_id Filter results by batches of coupons
    # @option opts [String] :usable Either \&quot;true\&quot; or \&quot;false\&quot;. If \&quot;true\&quot;, only coupons where &#x60;usageCounter &lt; usageLimit&#x60; will be returned, \&quot;false\&quot; will return only coupons where &#x60;usageCounter &gt;&#x3D; usageLimit&#x60;. 
    # @option opts [Integer] :referral_id Filter the results by matching them with the Id of a referral, that meaning the coupons that had been created as an effect of the usage of a referral code.
    # @option opts [String] :recipient_integration_id Filter results by match with a profile id specified in the coupon&#39;s RecipientIntegrationId field
    # @option opts [BOOLEAN] :exact_match Filter results to an exact case-insensitive matching against the coupon code (default to false)
    # @return [nil]
    def delete_coupons(application_id, campaign_id, opts = {})
      delete_coupons_with_http_info(application_id, campaign_id, opts)
      nil
    end

    # Delete Coupons
    # 
    # @param application_id 
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :value Filter results performing case-insensitive matching against the coupon code. Both the code and the query are folded to remove all non-alpha-numeric characters.
    # @option opts [DateTime] :created_before Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :created_after Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :starts_after Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :starts_before Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :expires_after Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [DateTime] :expires_before Filter results comparing the parameter value, expected to be an RFC3339 timestamp string, to the coupon creation timestamp.
    # @option opts [String] :valid Either \&quot;expired\&quot;, \&quot;validNow\&quot;, or \&quot;validFuture\&quot;. The first option matches coupons in which the expiry date is set and in the past. The second matches coupons in which start date is null or in the past and expiry date is null or in the future, the third matches coupons in which start date is set and in the future. 
    # @option opts [String] :batch_id Filter results by batches of coupons
    # @option opts [String] :usable Either \&quot;true\&quot; or \&quot;false\&quot;. If \&quot;true\&quot;, only coupons where &#x60;usageCounter &lt; usageLimit&#x60; will be returned, \&quot;false\&quot; will return only coupons where &#x60;usageCounter &gt;&#x3D; usageLimit&#x60;. 
    # @option opts [Integer] :referral_id Filter the results by matching them with the Id of a referral, that meaning the coupons that had been created as an effect of the usage of a referral code.
    # @option opts [String] :recipient_integration_id Filter results by match with a profile id specified in the coupon&#39;s RecipientIntegrationId field
    # @option opts [BOOLEAN] :exact_match Filter results to an exact case-insensitive matching against the coupon code
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_coupons_with_http_info(application_id, campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.delete_coupons ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.delete_coupons"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling ManagementApi.delete_coupons"
      end
      if @api_client.config.client_side_validation && opts[:'valid'] && !['expired', 'validNow', 'validFuture'].include?(opts[:'valid'])
        fail ArgumentError, 'invalid value for "valid", must be one of expired, validNow, validFuture'
      end
      if @api_client.config.client_side_validation && opts[:'usable'] && !['true', 'false'].include?(opts[:'usable'])
        fail ArgumentError, 'invalid value for "usable", must be one of true, false'
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/campaigns/{campaignId}/coupons'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'value'] = opts[:'value'] if !opts[:'value'].nil?
      query_params[:'createdBefore'] = opts[:'created_before'] if !opts[:'created_before'].nil?
      query_params[:'createdAfter'] = opts[:'created_after'] if !opts[:'created_after'].nil?
      query_params[:'startsAfter'] = opts[:'starts_after'] if !opts[:'starts_after'].nil?
      query_params[:'startsBefore'] = opts[:'starts_before'] if !opts[:'starts_before'].nil?
      query_params[:'expiresAfter'] = opts[:'expires_after'] if !opts[:'expires_after'].nil?
      query_params[:'expiresBefore'] = opts[:'expires_before'] if !opts[:'expires_before'].nil?
      query_params[:'valid'] = opts[:'valid'] if !opts[:'valid'].nil?
      query_params[:'batchId'] = opts[:'batch_id'] if !opts[:'batch_id'].nil?
      query_params[:'usable'] = opts[:'usable'] if !opts[:'usable'].nil?
      query_params[:'referralId'] = opts[:'referral_id'] if !opts[:'referral_id'].nil?
      query_params[:'recipientIntegrationId'] = opts[:'recipient_integration_id'] if !opts[:'recipient_integration_id'].nil?
      query_params[:'exactMatch'] = opts[:'exact_match'] if !opts[:'exact_match'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#delete_coupons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete one Referral
    # 
    # @param application_id 
    # @param campaign_id 
    # @param referral_id The ID of the referral code to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_referral(application_id, campaign_id, referral_id, opts = {})
      delete_referral_with_http_info(application_id, campaign_id, referral_id, opts)
      nil
    end

    # Delete one Referral
    # 
    # @param application_id 
    # @param campaign_id 
    # @param referral_id The ID of the referral code to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_referral_with_http_info(application_id, campaign_id, referral_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.delete_referral ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.delete_referral"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling ManagementApi.delete_referral"
      end
      # verify the required parameter 'referral_id' is set
      if @api_client.config.client_side_validation && referral_id.nil?
        fail ArgumentError, "Missing the required parameter 'referral_id' when calling ManagementApi.delete_referral"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/campaigns/{campaignId}/referrals/{referralId}'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'campaignId' + '}', campaign_id.to_s).sub('{' + 'referralId' + '}', referral_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#delete_referral\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a Ruleset
    # 
    # @param application_id 
    # @param campaign_id 
    # @param ruleset_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_ruleset(application_id, campaign_id, ruleset_id, opts = {})
      delete_ruleset_with_http_info(application_id, campaign_id, ruleset_id, opts)
      nil
    end

    # Delete a Ruleset
    # 
    # @param application_id 
    # @param campaign_id 
    # @param ruleset_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_ruleset_with_http_info(application_id, campaign_id, ruleset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.delete_ruleset ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.delete_ruleset"
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling ManagementApi.delete_ruleset"
      end
      # verify the required parameter 'ruleset_id' is set
      if @api_client.config.client_side_validation && ruleset_id.nil?
        fail ArgumentError, "Missing the required parameter 'ruleset_id' when calling ManagementApi.delete_ruleset"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/campaigns/{campaignId}/rulesets/{rulesetId}'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'campaignId' + '}', campaign_id.to_s).sub('{' + 'rulesetId' + '}', ruleset_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#delete_ruleset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get access logs for application
    # 
    # @param application_id 
    # @param range_start Only return results from after this timestamp, must be an RFC3339 timestamp string
    # @param range_end Only return results from before this timestamp, must be an RFC3339 timestamp string
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path Only return results where the request path matches the given regular expresssion.
    # @option opts [String] :method Only return results where the request method matches the given regular expresssion.
    # @option opts [String] :status Filter results by HTTP status codes.
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @return [InlineResponse2009]
    def get_access_logs(application_id, range_start, range_end, opts = {})
      data, _status_code, _headers = get_access_logs_with_http_info(application_id, range_start, range_end, opts)
      data
    end

    # Get access logs for application
    # 
    # @param application_id 
    # @param range_start Only return results from after this timestamp, must be an RFC3339 timestamp string
    # @param range_end Only return results from before this timestamp, must be an RFC3339 timestamp string
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path Only return results where the request path matches the given regular expresssion.
    # @option opts [String] :method Only return results where the request method matches the given regular expresssion.
    # @option opts [String] :status Filter results by HTTP status codes.
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @return [Array<(InlineResponse2009, Fixnum, Hash)>] InlineResponse2009 data, response status code and response headers
    def get_access_logs_with_http_info(application_id, range_start, range_end, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_access_logs ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_access_logs"
      end
      # verify the required parameter 'range_start' is set
      if @api_client.config.client_side_validation && range_start.nil?
        fail ArgumentError, "Missing the required parameter 'range_start' when calling ManagementApi.get_access_logs"
      end
      # verify the required parameter 'range_end' is set
      if @api_client.config.client_side_validation && range_end.nil?
        fail ArgumentError, "Missing the required parameter 'range_end' when calling ManagementApi.get_access_logs"
      end
      if @api_client.config.client_side_validation && opts[:'method'] && !['get', 'put', 'post', 'delete', 'patch'].include?(opts[:'method'])
        fail ArgumentError, 'invalid value for "method", must be one of get, put, post, delete, patch'
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['success', 'error'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of success, error'
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/access_logs'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'rangeStart'] = range_start
      query_params[:'rangeEnd'] = range_end
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2009')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_access_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get access logs for application
    # 
    # @param application_id 
    # @param range_start Only return results from after this timestamp, must be an RFC3339 timestamp string
    # @param range_end Only return results from before this timestamp, must be an RFC3339 timestamp string
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path Only return results where the request path matches the given regular expresssion.
    # @option opts [String] :method Only return results where the request method matches the given regular expresssion.
    # @option opts [String] :status Filter results by HTTP status codes.
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @return [InlineResponse20010]
    def get_access_logs_without_total_count(application_id, range_start, range_end, opts = {})
      data, _status_code, _headers = get_access_logs_without_total_count_with_http_info(application_id, range_start, range_end, opts)
      data
    end

    # Get access logs for application
    # 
    # @param application_id 
    # @param range_start Only return results from after this timestamp, must be an RFC3339 timestamp string
    # @param range_end Only return results from before this timestamp, must be an RFC3339 timestamp string
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path Only return results where the request path matches the given regular expresssion.
    # @option opts [String] :method Only return results where the request method matches the given regular expresssion.
    # @option opts [String] :status Filter results by HTTP status codes.
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @return [Array<(InlineResponse20010, Fixnum, Hash)>] InlineResponse20010 data, response status code and response headers
    def get_access_logs_without_total_count_with_http_info(application_id, range_start, range_end, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_access_logs_without_total_count ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_access_logs_without_total_count"
      end
      # verify the required parameter 'range_start' is set
      if @api_client.config.client_side_validation && range_start.nil?
        fail ArgumentError, "Missing the required parameter 'range_start' when calling ManagementApi.get_access_logs_without_total_count"
      end
      # verify the required parameter 'range_end' is set
      if @api_client.config.client_side_validation && range_end.nil?
        fail ArgumentError, "Missing the required parameter 'range_end' when calling ManagementApi.get_access_logs_without_total_count"
      end
      if @api_client.config.client_side_validation && opts[:'method'] && !['get', 'put', 'post', 'delete', 'patch'].include?(opts[:'method'])
        fail ArgumentError, 'invalid value for "method", must be one of get, put, post, delete, patch'
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['success', 'error'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of success, error'
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/access_logs/no_total'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'rangeStart'] = range_start
      query_params[:'rangeEnd'] = range_end
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20010')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_access_logs_without_total_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Account Details
    # Return the details of your companies Talon.One account. 
    # @param account_id 
    # @param [Hash] opts the optional parameters
    # @return [Account]
    def get_account(account_id, opts = {})
      data, _status_code, _headers = get_account_with_http_info(account_id, opts)
      data
    end

    # Get Account Details
    # Return the details of your companies Talon.One account. 
    # @param account_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Account, Fixnum, Hash)>] Account data, response status code and response headers
    def get_account_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_account ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ManagementApi.get_account"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}'.sub('{' + 'accountId' + '}', account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Account')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Account Analytics
    # Return the analytics of your companies Talon.One account. 
    # @param account_id 
    # @param [Hash] opts the optional parameters
    # @return [AccountAnalytics]
    def get_account_analytics(account_id, opts = {})
      data, _status_code, _headers = get_account_analytics_with_http_info(account_id, opts)
      data
    end

    # Get Account Analytics
    # Return the analytics of your companies Talon.One account. 
    # @param account_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountAnalytics, Fixnum, Hash)>] AccountAnalytics data, response status code and response headers
    def get_account_analytics_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_account_analytics ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ManagementApi.get_account_analytics"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/analytics'.sub('{' + 'accountId' + '}', account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AccountAnalytics')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_account_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Account Limits
    # Returns a list of all account limits set 
    # @param account_id 
    # @param [Hash] opts the optional parameters
    # @return [AccountLimits]
    def get_account_limits(account_id, opts = {})
      data, _status_code, _headers = get_account_limits_with_http_info(account_id, opts)
      data
    end

    # Get Account Limits
    # Returns a list of all account limits set 
    # @param account_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountLimits, Fixnum, Hash)>] AccountLimits data, response status code and response headers
    def get_account_limits_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_account_limits ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ManagementApi.get_account_limits"
      end
      # resource path
      local_var_path = '/v1/accounts/{accountId}/limits'.sub('{' + 'accountId' + '}', account_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AccountLimits')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_account_limits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all access logs
    # Fetches the access logs for the entire account. Sensitive requests (logins) are _always_ filtered from the logs. 
    # @param range_start Only return results from after this timestamp, must be an RFC3339 timestamp string
    # @param range_end Only return results from before this timestamp, must be an RFC3339 timestamp string
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path Only return results where the request path matches the given regular expresssion.
    # @option opts [String] :method Only return results where the request method matches the given regular expresssion.
    # @option opts [String] :status Filter results by HTTP status codes.
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @return [InlineResponse2009]
    def get_all_access_logs(range_start, range_end, opts = {})
      data, _status_code, _headers = get_all_access_logs_with_http_info(range_start, range_end, opts)
      data
    end

    # Get all access logs
    # Fetches the access logs for the entire account. Sensitive requests (logins) are _always_ filtered from the logs. 
    # @param range_start Only return results from after this timestamp, must be an RFC3339 timestamp string
    # @param range_end Only return results from before this timestamp, must be an RFC3339 timestamp string
    # @param [Hash] opts the optional parameters
    # @option opts [String] :path Only return results where the request path matches the given regular expresssion.
    # @option opts [String] :method Only return results where the request method matches the given regular expresssion.
    # @option opts [String] :status Filter results by HTTP status codes.
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @return [Array<(InlineResponse2009, Fixnum, Hash)>] InlineResponse2009 data, response status code and response headers
    def get_all_access_logs_with_http_info(range_start, range_end, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_all_access_logs ...'
      end
      # verify the required parameter 'range_start' is set
      if @api_client.config.client_side_validation && range_start.nil?
        fail ArgumentError, "Missing the required parameter 'range_start' when calling ManagementApi.get_all_access_logs"
      end
      # verify the required parameter 'range_end' is set
      if @api_client.config.client_side_validation && range_end.nil?
        fail ArgumentError, "Missing the required parameter 'range_end' when calling ManagementApi.get_all_access_logs"
      end
      if @api_client.config.client_side_validation && opts[:'method'] && !['get', 'put', 'post', 'delete', 'patch'].include?(opts[:'method'])
        fail ArgumentError, 'invalid value for "method", must be one of get, put, post, delete, patch'
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['success', 'error'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of success, error'
      end
      # resource path
      local_var_path = '/v1/access_logs'

      # query parameters
      query_params = {}
      query_params[:'rangeStart'] = range_start
      query_params[:'rangeEnd'] = range_end
      query_params[:'path'] = opts[:'path'] if !opts[:'path'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2009')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_all_access_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all roles.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20028]
    def get_all_roles(opts = {})
      data, _status_code, _headers = get_all_roles_with_http_info(opts)
      data
    end

    # Get all roles.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20028, Fixnum, Hash)>] InlineResponse20028 data, response status code and response headers
    def get_all_roles_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_all_roles ...'
      end
      # resource path
      local_var_path = '/v1/roles'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20028')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_all_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Application
    # Get the application specified by the ID.
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @return [Application]
    def get_application(application_id, opts = {})
      data, _status_code, _headers = get_application_with_http_info(application_id, opts)
      data
    end

    # Get Application
    # Get the application specified by the ID.
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Application, Fixnum, Hash)>] Application data, response status code and response headers
    def get_application_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_application ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_application"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Application')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get report of health of application API
    # 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @return [ApplicationApiHealth]
    def get_application_api_health(application_id, opts = {})
      data, _status_code, _headers = get_application_api_health_with_http_info(application_id, opts)
      data
    end

    # Get report of health of application API
    # 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplicationApiHealth, Fixnum, Hash)>] ApplicationApiHealth data, response status code and response headers
    def get_application_api_health_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_application_api_health ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_application_api_health"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/health_report'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ApplicationApiHealth')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_application_api_health\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Application Customer
    # 
    # @param application_id 
    # @param customer_id 
    # @param [Hash] opts the optional parameters
    # @return [ApplicationCustomer]
    def get_application_customer(application_id, customer_id, opts = {})
      data, _status_code, _headers = get_application_customer_with_http_info(application_id, customer_id, opts)
      data
    end

    # Get Application Customer
    # 
    # @param application_id 
    # @param customer_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplicationCustomer, Fixnum, Hash)>] ApplicationCustomer data, response status code and response headers
    def get_application_customer_with_http_info(application_id, customer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_application_customer ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_application_customer"
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling ManagementApi.get_application_customer"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/customers/{customerId}'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'customerId' + '}', customer_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ApplicationCustomer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_application_customer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Application Customers
    # 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20012]
    def get_application_customers(application_id, opts = {})
      data, _status_code, _headers = get_application_customers_with_http_info(application_id, opts)
      data
    end

    # List Application Customers
    # 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20012, Fixnum, Hash)>] InlineResponse20012 data, response status code and response headers
    def get_application_customers_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_application_customers ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_application_customers"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/customers'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20012')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_application_customers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of the customer profiles that match the given attributes
    # Gets a list of all the customer profiles for the account that exactly match a set of attributes.  The match is successful if all the attributes of the request are found in a profile, even if the profile has more attributes that are not present on the request.  [Customer Profile]: http://help.talon.one/customer/en/portal/articles/2525263-data-model?b_id=14115#customer-profile 
    # @param [Hash] opts the optional parameters
    # @option opts [ApplicationCustomerSearch] :body 
    # @return [InlineResponse20013]
    def get_application_customers_by_attributes(opts = {})
      data, _status_code, _headers = get_application_customers_by_attributes_with_http_info(opts)
      data
    end

    # Get a list of the customer profiles that match the given attributes
    # Gets a list of all the customer profiles for the account that exactly match a set of attributes.  The match is successful if all the attributes of the request are found in a profile, even if the profile has more attributes that are not present on the request.  [Customer Profile]: http://help.talon.one/customer/en/portal/articles/2525263-data-model?b_id&#x3D;14115#customer-profile 
    # @param [Hash] opts the optional parameters
    # @option opts [ApplicationCustomerSearch] :body 
    # @return [Array<(InlineResponse20013, Fixnum, Hash)>] InlineResponse20013 data, response status code and response headers
    def get_application_customers_by_attributes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_application_customers_by_attributes ...'
      end
      # resource path
      local_var_path = '/v1/application_customer_search'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['integration_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20013')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_application_customers_by_attributes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Applications Event Types
    # Get all of the distinct values of the Event `type` property for events recorded in the application.  See also: [Track an event](/integration-api/reference/#trackEvent) 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @return [InlineResponse20019]
    def get_application_event_types(application_id, opts = {})
      data, _status_code, _headers = get_application_event_types_with_http_info(application_id, opts)
      data
    end

    # List Applications Event Types
    # Get all of the distinct values of the Event &#x60;type&#x60; property for events recorded in the application.  See also: [Track an event](/integration-api/reference/#trackEvent) 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @return [Array<(InlineResponse20019, Fixnum, Hash)>] InlineResponse20019 data, response status code and response headers
    def get_application_event_types_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_application_event_types ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_application_event_types"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/event_types'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20019')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_application_event_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Applications Events
    # Lists all events recorded for an application. 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @option opts [String] :type Comma-separated list of types by which to filter events. Must be exact match(es).
    # @option opts [DateTime] :created_before Only return events created before this date
    # @option opts [DateTime] :created_after Only return events created after this date
    # @option opts [String] :session Session integration ID filter for events. Must be exact match.
    # @option opts [String] :profile Profile integration ID filter for events. Must be exact match.
    # @option opts [String] :customer_name Customer name filter for events. Will match substrings case-insensitively.
    # @option opts [String] :customer_email Customer e-mail address filter for events. Will match substrings case-insensitively.
    # @option opts [String] :effects_query Effects filter for events. Will perform a full-text search on the text content of the events effects, if any.
    # @option opts [String] :attributes_query Attributes filter for events. Will perform a full-text search on the text content of the events attributes, both keys and values.
    # @option opts [String] :rule_query Rule name filter for events
    # @option opts [String] :campaign_query Campaign name filter for events
    # @return [InlineResponse20017]
    def get_application_events(application_id, opts = {})
      data, _status_code, _headers = get_application_events_with_http_info(application_id, opts)
      data
    end

    # List Applications Events
    # Lists all events recorded for an application. 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @option opts [String] :type Comma-separated list of types by which to filter events. Must be exact match(es).
    # @option opts [DateTime] :created_before Only return events created before this date
    # @option opts [DateTime] :created_after Only return events created after this date
    # @option opts [String] :session Session integration ID filter for events. Must be exact match.
    # @option opts [String] :profile Profile integration ID filter for events. Must be exact match.
    # @option opts [String] :customer_name Customer name filter for events. Will match substrings case-insensitively.
    # @option opts [String] :customer_email Customer e-mail address filter for events. Will match substrings case-insensitively.
    # @option opts [String] :effects_query Effects filter for events. Will perform a full-text search on the text content of the events effects, if any.
    # @option opts [String] :attributes_query Attributes filter for events. Will perform a full-text search on the text content of the events attributes, both keys and values.
    # @option opts [String] :rule_query Rule name filter for events
    # @option opts [String] :campaign_query Campaign name filter for events
    # @return [Array<(InlineResponse20017, Fixnum, Hash)>] InlineResponse20017 data, response status code and response headers
    def get_application_events_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_application_events ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_application_events"
      end
      if @api_client.config.client_side_validation && !opts[:'customer_name'].nil? && opts[:'customer_name'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"customer_name"]" when calling ManagementApi.get_application_events, the character length must be great than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'customer_email'].nil? && opts[:'customer_email'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"customer_email"]" when calling ManagementApi.get_application_events, the character length must be great than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/applications/{applicationId}/events'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'createdBefore'] = opts[:'created_before'] if !opts[:'created_before'].nil?
      query_params[:'createdAfter'] = opts[:'created_after'] if !opts[:'created_after'].nil?
      query_params[:'session'] = opts[:'session'] if !opts[:'session'].nil?
      query_params[:'profile'] = opts[:'profile'] if !opts[:'profile'].nil?
      query_params[:'customerName'] = opts[:'customer_name'] if !opts[:'customer_name'].nil?
      query_params[:'customerEmail'] = opts[:'customer_email'] if !opts[:'customer_email'].nil?
      query_params[:'effectsQuery'] = opts[:'effects_query'] if !opts[:'effects_query'].nil?
      query_params[:'attributesQuery'] = opts[:'attributes_query'] if !opts[:'attributes_query'].nil?
      query_params[:'ruleQuery'] = opts[:'rule_query'] if !opts[:'rule_query'].nil?
      query_params[:'campaignQuery'] = opts[:'campaign_query'] if !opts[:'campaign_query'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20017')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_application_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Applications Events
    # Lists all events recorded for an application. Instead of having the total number of results in the response, this endpoint only if there are more results. 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @option opts [String] :type Comma-separated list of types by which to filter events. Must be exact match(es).
    # @option opts [DateTime] :created_before Only return events created before this date
    # @option opts [DateTime] :created_after Only return events created after this date
    # @option opts [String] :session Session integration ID filter for events. Must be exact match.
    # @option opts [String] :profile Profile integration ID filter for events. Must be exact match.
    # @option opts [String] :customer_name Customer name filter for events. Will match substrings case-insensitively.
    # @option opts [String] :customer_email Customer e-mail address filter for events. Will match substrings case-insensitively.
    # @option opts [String] :effects_query Effects filter for events. Will perform a full-text search on the text content of the events effects, if any.
    # @option opts [String] :attributes_query Attributes filter for events. Will perform a full-text search on the text content of the events attributes, both keys and values.
    # @option opts [String] :rule_query Rule name filter for events
    # @option opts [String] :campaign_query Campaign name filter for events
    # @return [InlineResponse20018]
    def get_application_events_without_total_count(application_id, opts = {})
      data, _status_code, _headers = get_application_events_without_total_count_with_http_info(application_id, opts)
      data
    end

    # List Applications Events
    # Lists all events recorded for an application. Instead of having the total number of results in the response, this endpoint only if there are more results. 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @option opts [String] :type Comma-separated list of types by which to filter events. Must be exact match(es).
    # @option opts [DateTime] :created_before Only return events created before this date
    # @option opts [DateTime] :created_after Only return events created after this date
    # @option opts [String] :session Session integration ID filter for events. Must be exact match.
    # @option opts [String] :profile Profile integration ID filter for events. Must be exact match.
    # @option opts [String] :customer_name Customer name filter for events. Will match substrings case-insensitively.
    # @option opts [String] :customer_email Customer e-mail address filter for events. Will match substrings case-insensitively.
    # @option opts [String] :effects_query Effects filter for events. Will perform a full-text search on the text content of the events effects, if any.
    # @option opts [String] :attributes_query Attributes filter for events. Will perform a full-text search on the text content of the events attributes, both keys and values.
    # @option opts [String] :rule_query Rule name filter for events
    # @option opts [String] :campaign_query Campaign name filter for events
    # @return [Array<(InlineResponse20018, Fixnum, Hash)>] InlineResponse20018 data, response status code and response headers
    def get_application_events_without_total_count_with_http_info(application_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_application_events_without_total_count ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_application_events_without_total_count"
      end
      if @api_client.config.client_side_validation && !opts[:'customer_name'].nil? && opts[:'customer_name'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"customer_name"]" when calling ManagementApi.get_application_events_without_total_count, the character length must be great than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'customer_email'].nil? && opts[:'customer_email'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"customer_email"]" when calling ManagementApi.get_application_events_without_total_count, the character length must be great than or equal to 2.'
      end

      # resource path
      local_var_path = '/v1/applications/{applicationId}/events/no_total'.sub('{' + 'applicationId' + '}', application_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'createdBefore'] = opts[:'created_before'] if !opts[:'created_before'].nil?
      query_params[:'createdAfter'] = opts[:'created_after'] if !opts[:'created_after'].nil?
      query_params[:'session'] = opts[:'session'] if !opts[:'session'].nil?
      query_params[:'profile'] = opts[:'profile'] if !opts[:'profile'].nil?
      query_params[:'customerName'] = opts[:'customer_name'] if !opts[:'customer_name'].nil?
      query_params[:'customerEmail'] = opts[:'customer_email'] if !opts[:'customer_email'].nil?
      query_params[:'effectsQuery'] = opts[:'effects_query'] if !opts[:'effects_query'].nil?
      query_params[:'attributesQuery'] = opts[:'attributes_query'] if !opts[:'attributes_query'].nil?
      query_params[:'ruleQuery'] = opts[:'rule_query'] if !opts[:'rule_query'].nil?
      query_params[:'campaignQuery'] = opts[:'campaign_query'] if !opts[:'campaign_query'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse20018')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_application_events_without_total_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Application Session
    # 
    # @param application_id 
    # @param session_id 
    # @param [Hash] opts the optional parameters
    # @return [ApplicationSession]
    def get_application_session(application_id, session_id, opts = {})
      data, _status_code, _headers = get_application_session_with_http_info(application_id, session_id, opts)
      data
    end

    # Get Application Session
    # 
    # @param application_id 
    # @param session_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplicationSession, Fixnum, Hash)>] ApplicationSession data, response status code and response headers
    def get_application_session_with_http_info(application_id, session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagementApi.get_application_session ...'
      end
      # verify the required parameter 'application_id' is set
      if @api_client.config.client_side_validation && application_id.nil?
        fail ArgumentError, "Missing the required parameter 'application_id' when calling ManagementApi.get_application_session"
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling ManagementApi.get_application_session"
      end
      # resource path
      local_var_path = '/v1/applications/{applicationId}/sessions/{sessionId}'.sub('{' + 'applicationId' + '}', application_id.to_s).sub('{' + 'sessionId' + '}', session_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['manager_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ApplicationSession')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagementApi#get_application_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Application Sessions
    # 
    # @param application_id 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_size The number of items to include in this response. When omitted, the maximum value of 1000 will be used.
    # @option opts [Integer] :skip Skips the given number of items when paging through large result sets.
    # @option opts [String] :sort The field by which results should be sorted. Sorting defaults to ascending order, prefix the field name with &#x60;-&#x60; to sort in descending order.
    # @option opts [String] :profile Profile integration ID filter for sessions. Must be exact match.
    # @option opts [String] :state Filter by sessions with this state. Must be exact match.
[...]
